@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,900,100,400italic|Roboto+Mono:400,500);
:root {
  --primary: #F44336;
  --primary-dark: #D32F2F;
  --secondary: #009688;
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  color: #FFF;
  font-weight: 400;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
html {
  background-color: var(--secondary);
}
a {
  text-decoration: none;
}
a:hover {
  color: #000;
}
[title] {
  height: 100vh;
  text-align: center;
}
[bg] {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /*-webkit-filter: blur(5px);
	        filter: blur(5px);*/
}
[bg]:not([title]) {
  height: 40vh;
}
[title] [bg] {
  left: -10px;
  top: -20vw;
}
[title-text] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .5);
  width: 400px;
  max-width: 100vw;
  padding: 24px 8px;
  /*z-index: 1;*/
  box-sizing: border-box;
}
[title-text] h1 {
  color: #FFF;
}
[title-text] h2 {
  color: rgba(255, 255, 255, .75);
  margin-top: 8px;
  font-weight: 400;
}
[special] {
  font-weight: 900;
}
nav {
  position: fixed;
  background: rgba(255, 255, 255, 0);
  text-align: center;
  width: 100vw;
  top: 0px;
  z-index: 100;
}
nav li {
  display: inline-block;
}
nav a {
  padding: 24px 12px;
  display: inline-block;
}
[fb] {
  padding: 10px 20px;
  position: absolute;
  right: 0px;
  top: 0px;
}
[icon] {
  font-size: 72px;
  position: fixed;
  left: 0px;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
  color: var(--secondary);
  cursor: pointer;
  z-index: 99;
  width: 72px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, .2), 0px 0px 4px rgba(0, 0, 0, .3);
}
[hamburger] {
  visibility: hidden;
}
[totop] {
  top: 86px;
}
[totop].ontop {
  left: -72px;
}
[icon] {
  left: 0px;
}
[part] {
  background-color: var(--primary);
  padding: 4vh 20vw 7vh;
  text-align: justify;
}
[part] h1 {
  text-align: center;
  margin-bottom: 2vh;
}
[part] p {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-column-gap: 5vw;
  -moz-column-gap: 5vw;
  column-gap: 5vw;
}
#afsluiting {
  padding: 15px;
  background-color: var(--secondary);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, .3);
}
#afsluiting > p {
  position: relative;
  bottom: 0px;
  left: 0px;
  margin: 0;
  color: #FFF;
}
@media screen and (max-width: 1220px) {
  nav {
    width: 320px;
    height: calc(100vh + 64px);
    -webkit-transition: left 0.5s ease;
    transition: left 0.5s ease;
    left: -320px;
    background-color: var(--primary-dark) !important;
    text-align: initial;
  }
  nav.extended {
    left: 0px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, .8);
  }
  [hamburger] {
    top: 0px;
    visibility: visible;
  }
  [icon].extended {
    left: 320px;
  }
  [totop] {
    top: 72px;
  }
  [totop].ontop.extended {
    left: 248px;
  }
  nav ul {
    padding-top: 12px;
    height: calc(100vh - 12px);
  }
  nav li {
    display: block;
  }
  nav a {
    color: #FFF;
    display: block;
    padding: 12px 24px;
  }
  nav a:hover {
    background: rgba(0, 0, 0, 0.2);
    color: #FFF;
  }
  [scrim] {
    content: '';
    background: transparent;
    height: calc(100vh + 64px);
    width: 100vw;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 98;
    transition: background 0.5s ease, left 0.5s ease, visibility 0s 0.5s;
    visibility: hidden;
  }
  [scrim].extended {
    background: rgba(0, 0, 0, .54);
    left: 320px;
    visibility: visible;
    transition: background 0.5s ease, left 0.5s ease, visibility 0s 0s;
  }
}
@media screen and (min-width: 761px) and (max-width: 1230px) {
  [part] {
    padding: 5vh 10vw;
  }
}
@media screen and (max-width: 760px) {
  [part] {
    padding: 5vh 10vw;
  }
  [part] p {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
  }
}
